@font-face
{
    font-family: 'impact';
    src: url('fonts/impact.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
.logo
{
    font-family: 'impact';
}
