.main_title{
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
}

*{
  padding: 0;
  font-family: Arial;
}

body{
  background-color: #eee;
}

.wrapper{
  margin: 0 auto;
  width: 1000px;
  color: red;
}
nav{
  width: 100%;
  height: 100px;
  background-color: #fff;
}

ul{
  margin-left: 60px;
}
ul li{
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
  padding: 0 10px;

}

ul li a{
  text-decoration: none;
  color: black;
  font-family: Arial;
}

ul li a:hover{
  color: blue;
}

.Intro1{
  font-weight: bold;
  color: black;

}

.Manual1{
  font-weight: bold;
  color: black;

}

.Manual2{
  font-weight: bold;
  color: black;

}

.Manual3{
  font-weight: bold;
  color: black;

}

.Manual4{
  font-weight: bold;
  color: black;

}

.MainProg1{
  font-weight: bold;
  color: black;

}

.About1{
  font-weight: bold;
  color: black;

}

.About2{
  font-weight: bold;
  color: black;

}

.About2-1{
  font-weight: bold;
  color: black;

}

.About3{
  font-weight: bold;
  color: black;

}
p{
  color: black;
  font-family: arial;
}

/*a{
  text-decoration: none;

}
*/
.head1 {
  color: green;
}
